!!!
%html
  %head
    %title #{@title} Docs
    %link{:href => 'favicon.ico', :rel => "shortcut icon"}
    <link rel='stylesheet' href='/stylesheets/docs.css' type='text/css' media="screen, projection">
  %body
    %header#header
      #header_image
        :plain
          <a href="http://cloudmailin.com">
            <img alt="cloudmailin logo, incoming email for your web app" src="/images/logo.png">
          </a>
    
    #middle
      #container
        #sidebar
          %ul
            %li
              %a{:href => 'http://cloudmailin.com'} Return to Main Site
            - @docs.each do |title, location|
              %li
                %a{:href => location}= title
            
        #content
          %h1= @title
          -# needs to be ugly so that its not indented by haml
          :plain
            #{@body}
    
    %footer#footer
      #details
        &copy; cloudmailin.com
    
    <a href="http://github.com/cloudmailin/docs.cloudmailin.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    = render :erb, :analytics