!!!
%html(lang="en")
  %head
    %title= title
    %link(rel="dns-prefetch" href="https://www.cloudmailin.com/")
    %link{href: '/favicon.svg', rel: "icon", type: "image/svg+xml"}
    %link{href: '/favicon_old.png', rel: "alternate icon", type: "image/png"}
    %meta{"http-equiv": "Content-Type", content: "text/html; charset=utf-8"}
    <link rel='stylesheet' href='/assets/stylesheets/docs_new.css' type='text/css' media="screen, projection"/>
    -# <link rel='stylesheet' href='/assets/stylesheets/syntax.css' type='text/css' media="screen, projection"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/assets/javascripts/code.js"></script>
    <script src="https://www.cloudmailin.com/assets/marketing.js"></script>
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=5"}
    - if description
      %meta{name: 'description', content: description}
  %body#documentation
    %nav#nav
      #nav-content
        %header#header
          #header_image
            = link_to image_tag('logo_trans_no_com.png', alt: 'cloudmailin logo, incoming email for your web app', style: 'height: 30px'), 'https://www.cloudmailin.com'
          %ul.home-nav
            %li= link_to 'Return to CloudMailin.com', 'https://www.cloudmailin.com'

    #middle
      #container
        - if description.nil? && ENV['NANOC_ENV'] == 'development'
          .warning
            %p Description not set
        .documentation_content{id: identifier }
          %a.hidden-md.hidden-lg{href: '#sidebar'} Jump To Navigation
          = find_and_preserve(yield)

          #comments
            = render 'comments' unless disable_comments?

        = render('sidebar')

    %footer#footer
      #details
        &copy; cloudmailin.com

    <a href="https://github.com/cloudmailin/docs.cloudmailin.com" class="hidden-xs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    = render 'analytics'
    = render 'intercom'
    = render 'zendesk'
