!!!
%html
  %head
    %title= @item.title
    %link{:href => 'favicon.ico', :rel => "shortcut icon"}
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    <link rel='stylesheet' href='/assets/stylesheets/docs_new.css' type='text/css' media="screen, projection"/>
    <link rel='stylesheet' href='/assets/stylesheets/highlight.css' type='text/css' media="screen, projection"/>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/assets/javascripts/code.js"></script>
  %body#documentation
    %nav#nav
      #nav-content
        %header#header
          #header_image
            = link_to image_tag('logo_trans_no_com.png', alt: 'cloudmailin logo, incoming email for your web app', style: 'height: 30px'), 'https://www.cloudmailin.com'
          %ul.home-nav
            %li= link_to 'Return to CloudMailin.com', 'https://www.cloudmailin.com'

    #middle
      #container
        = render('sidebar')

        .documentation_content{:id => @item.name.downcase.gsub(/[^a-z0-9\_]+/i, '_')}
          = find_and_preserve(yield)
          = render 'comments' unless @item.disable_comments?

    %footer#footer
      #details
        &copy; cloudmailin.com

    <a href="https://github.com/cloudmailin/docs.cloudmailin.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    = render 'analytics'
    = render 'zendesk'
