#sidebar
  %h2.hidden-md.hidden-lg Navigation
  %ul
    %li= link_to 'Home', '/'
    %li
      Getting Started (Receiving)
      %ul
        %li= link_to 'Introduction', '/getting_started/'
        - for item in items_for_section('getting_started/receiving_email')
          %li= link_to title(item), item
        %li= link_to 'FAQs', '/getting_started/faqs/'
        %li= link_to 'Getting Started Sending Email', '/outbound/'
    %li
      HTTP POST Formats
      %ul
        %li= link_to 'Introduction to POST Formats', '/http_post_formats/'
        %li= link_to 'JSON (Normalized)', '/http_post_formats/json_normalized/'
        %li= link_to 'Multipart (Normalized)', '/http_post_formats/multipart_normalized/'
        %li= link_to 'Raw Message Format', '/http_post_formats/raw/'
        %li= link_to 'JSON Format', '/http_post_formats/json/', class: 'deprecated'
        %li= link_to 'Multipart Format', '/http_post_formats/multipart/', class: 'deprecated'
        %li= link_to 'Original Format', '/http_post_formats/original/', class: 'deprecated'
        -# %li= link_to 'Examples', '/receiving_email/examples/'
    %li
      Receiving Email
      %ul
        %li= link_to 'HTTP Status Codes', '/receiving_email/http_status_codes/'
        %li= link_to 'Using your own Domain', '/receiving_email/forwarding_and_custom_domains/'
        %li= link_to 'Store Attachments in Cloud Storage', '/receiving_email/store-email-attachments-in-s3-azure-google-storage/'
        %li= link_to 'Store Full Email in Cloud Storage', '/receiving_email/store-full-email-in-aws-cloud-storage/'
        %li= link_to 'Reply Parsing', '/features/extracting_replies_from_email/'
        %li
          = link_to 'Callbacks', '/features/callbacks/'
          %ul
            %li= link_to 'Authorization Callbacks', '/features/callbacks/#authorization-callbacks'
            %li= link_to 'Error Callbacks', '/features/callbacks/#error-callbacks'
        %li= link_to 'SPF (Sender Policy Framework)', '/features/spf/'
        %li= link_to 'Delivery Status API', '/features/delivery_status_api/'
        %li= link_to 'Securing HTTP Posts', '/receiving_email/securing_your_email_url_target/'
        %li= link_to 'IMAP Polling (Legacy Systems)', '/features/imap_collectors/'
        %li= link_to 'SPAM Filtering', '/features/spam_filtering/'
        %li= link_to 'Virus Scanning', '/features/virus_scanning/'
        %li= link_to 'IP Address List', '/receiving_email/ip_addresses/'
        %li
          = link_to 'Examples', '/receiving_email/examples/'
          - if in_section?('receiving_email/examples', include_self: true)
            %ul
              - items_for_section('receiving_email/examples').each do |item|
                %li= link_to title(item), item
    %li
      Local Development and Testing
      %ul
        %li= link_to 'Local Development / Debugger', '/receiving_email/localhost_debugger/'
        %li= link_to 'Test Driven Development', '/receiving_email/test_driven_development/'

    %li
      Outbound (Sending)
      %ul
        %li= link_to 'Introduction', '/outbound/'
        %li= link_to 'Getting Started', '/outbound/getting_started/'
        %li= link_to 'Priorities and Tagging', '/outbound/priorities_and_tags/'
        %li= link_to 'Email Layouts', '/outbound/email-layouts/'
        %li= link_to 'Sending Email via API', '/outbound/sending_email_via_json_api/'
        %li
          = link_to 'Sending Email with SMTP', '/outbound/sending_email_with_smtp/'
          %ul
            - if in_section?('outbound/', include_self: true)
              - items_for_section('outbound/examples').each do |item|
                %li= link_to title(item), item
            - else
              %li= link_to 'Examples', '/outbound/sending_email_with_smtp/#examples'
